@import url("primeicons/primeicons.css");
@import "tailwindcss";
@import "./theme.css";
@plugin "tailwind-clamp";

@font-face {
  font-family: "Helvetica Now Text";
  src: url("/fonts/HelveticaNowText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("/fonts/HelveticaNowText-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("/fonts/HelveticaNowText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("/fonts/HelveticaNowText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.hide_scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

button {
  cursor: pointer;
}
