main.main_content{
  width: 100%;
  position: relative;
  height: 92vh;
  display: flex;
  align-items: center;
  z-index: 1;
  div.p-card{
    background-color: inherit;
    box-shadow: none;
    width: 100%;
    h1{
      font-size: 2rem;
    }
  }
  div.animation_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    div.animation{
      width: 70%;
    }
  }
}

div.loader_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    div.loader{
      width: 60%;
    }
}

section.home_container {
  width: 100%;
  position: relative;
}

div.content{
  z-index: 4;
}

body {
  font-family: 'Roboto Slab', serif !important;
  width: 100%;
  margin: 0;
  a{
    text-decoration: none;
    color: inherit;
  }
}

body.light__mode section.home_container {
  background: linear-gradient(35deg, #11cdef, #1171ef) !important;
}
section.home_container{
  background: linear-gradient(35deg,#101011f4,#101011) !important;
}

h1, h2, h3, h4, h5, h6, p, span, small{
  font-family: 'Roboto Slab', serif;
}

ul.sideBar_link{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    margin: 0;
    padding: 0;
    a{
      text-decoration: none;
      color: inherit;
      display: block;
      padding: 1rem;
      font-size: 2rem;
      font-weight: 500;
      transition: all 0.3s ease;
      &:hover{
        background: #101011f4;
        color: #fff;
      }
    }
  }
}