section#portfolio{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    margin-top: 3rem;
    img{
        width: 100%;
    }
    div.portfolio-info{
        h4{
            font-size: 0.85rem;
            text-align: right;
            margin-top: 1rem;
        }
    }
}